@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Libre Franklin";
  src: url("/fonts/LibreFranklin-Bold.woff2") format("woff2"), url("/fonts/LibreFranklin-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Libre Franklin";
  src: url("/fonts/LibreFranklin-SemiBold.woff2") format("woff2"), url("/fonts/LibreFranklin-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Libre Franklin";
  src: url("/fonts/LibreFranklin-Medium.woff2") format("woff2"), url("/fonts/LibreFranklin-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Libre Franklin";
  src: url("/fonts/LibreFranklin-Regular.woff2") format("woff2"), url("/fonts/LibreFranklin-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
:root {
  --vine-lighter: #0e6338;
  --foliage: #609c42;
  --petal: #ee343f;
  --sage: #d4e9c9;
  --stone: #58585a;
  --darker-foliage: #548c28;
  --light-foliage: #eafce1;
  --body-text: #343434;
  --light-body-text: #616161;
  --divider-outline: #cdcdcd;
  --font-libre: "Libre Franklin";
}

body {
  font-family: "Libre Franklin", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.add-fix {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}

.container-custom {
  max-width: 1375px;
  width: 1375px;
  margin: 0 auto;
}
@media (min-width: 1280px) and (max-width: 1399.98px) {
  .container-custom {
    width: 1170px;
    max-width: 1170px;
  }
}
@media (min-width: 1024px) and (max-width: 1279.98px) {
  .container-custom {
    width: 960px;
    max-width: 960px;
  }
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .container-custom {
    width: 740px;
    max-width: 740px;
  }
}
@media (min-width: 641px) and (max-width: 767.98px) {
  .container-custom {
    width: 540px;
    max-width: 540px;
  }
}
@media (max-width: 640px) {
  .container-custom {
    width: 100%;
    max-width: 540px;
    padding: 0 15px;
  }
}

.small-container-custom {
  max-width: 1223px;
  margin: 0 auto;
}
@media (min-width: 1280px) and (max-width: 1399.98px) {
  .small-container-custom {
    width: 1170px;
    max-width: 1170px;
  }
}
@media (min-width: 1024px) and (max-width: 1279.98px) {
  .small-container-custom {
    width: 960px;
    max-width: 960px;
  }
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .small-container-custom {
    width: 740px;
    max-width: 740px;
  }
}
@media (min-width: 641px) and (max-width: 767.98px) {
  .small-container-custom {
    width: 540px;
    max-width: 540px;
  }
}
@media (max-width: 640px) {
  .small-container-custom {
    width: 100%;
    max-width: 540px;
    padding: 0 15px;
  }
}

.hero-slider .container-custom {
  max-width: 1312px;
  width: 1312px;
  margin: 0 auto;
}
@media (min-width: 1280px) and (max-width: 1399.98px) {
  .hero-slider .container-custom {
    width: 1170px;
    max-width: 1170px;
  }
}
@media (min-width: 1024px) and (max-width: 1279.98px) {
  .hero-slider .container-custom {
    width: 960px;
    max-width: 960px;
  }
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .hero-slider .container-custom {
    width: 740px;
    max-width: 740px;
  }
}
@media (min-width: 641px) and (max-width: 767.98px) {
  .hero-slider .container-custom {
    width: 540px;
    max-width: 540px;
  }
}
@media (max-width: 640px) {
  .hero-slider .container-custom {
    width: 100%;
    max-width: 540px;
    padding: 0 15px;
  }
}

.flowers-sec .container-custom {
  max-width: 1262px;
}
@media (min-width: 1280px) and (max-width: 1399.98px) {
  .flowers-sec .container-custom {
    width: 1170px;
    max-width: 1170px;
  }
}
@media (min-width: 1024px) and (max-width: 1279.98px) {
  .flowers-sec .container-custom {
    width: 960px;
    max-width: 960px;
  }
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .flowers-sec .container-custom {
    width: 740px;
    max-width: 740px;
  }
}
@media (min-width: 641px) and (max-width: 767.98px) {
  .flowers-sec .container-custom {
    width: 540px;
    max-width: 540px;
  }
}
@media (max-width: 640px) {
  .flowers-sec .container-custom {
    width: 100%;
    max-width: 540px;
    padding: 0 15px;
  }
}

/* **** toggler **** */
header {
  min-height: 278px;
}
@media (min-width: 1024px) and (max-width: 1279.98px) {
  header {
    min-height: unset;
  }
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  header {
    min-height: unset;
  }
}
@media (min-width: 641px) and (max-width: 767.98px) {
  header {
    min-height: unset;
  }
}
@media (max-width: 640px) {
  header {
    min-height: unset;
    padding: 0;
  }
}
header .navbar-toggler {
  background-color: transparent;
  border-radius: 0;
  outline: none;
  box-shadow: none;
  border: none;
  padding: 0;
  height: auto;
  width: auto;
  box-shadow: none;
  outline: none;
}
header .navbar-toggler .navbar-toggler-icon {
  background-image: unset;
  width: 32px;
  height: 19px;
  display: block;
  background-image: none;
  position: relative;
  border-bottom: 3px solid #bebebe;
  transition: all 300ms linear;
}
header .navbar-toggler .navbar-toggler-icon:after, header .navbar-toggler .navbar-toggler-icon:before {
  width: 32px;
  position: absolute;
  height: 3px;
  background-color: #bebebe;
  top: 0;
  left: 0;
  content: "";
  z-index: 2;
  transition: all 300ms linear;
}
header .navbar-toggler .navbar-toggler-icon:after {
  top: 8px;
}
header .show .navbar-toggler-icon {
  border-color: transparent;
}
header .show .navbar-toggler-icon:after {
  transform: rotate(45deg);
}
header .show .navbar-toggler-icon:before {
  transform: translateY(8px) rotate(-45deg);
}
header .navbar-nav {
  transition: all 0.3s linear;
}
header .navbar-nav.show {
  display: block !important;
}

header.sticky .navbar-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: auto;
  border-bottom: 2px solid var(--divider-outline);
}

/* **** toggler **** */
/* **** Slider Arrow **** */
.hero-slider {
  position: relative;
}
.hero-slider .slick-prev,
.hero-slider .slick-next {
  position: absolute;
  top: 50%;
  left: 20px;
  font-size: 35px;
  color: #fff;
  transform: translate(0, -50%);
  z-index: 9;
}
.hero-slider .slick-next {
  left: auto;
  right: 20px;
}

.fresh-slider {
  position: relative;
}
.fresh-slider .slick-slide {
  padding: 0 10px;
}
.fresh-slider .slick-prev,
.fresh-slider .slick-next {
  position: absolute;
  top: 50%;
  left: -15px;
  font-size: 30px;
  color: var(--foliage);
  transform: translate(0, -50%);
  z-index: 9;
}
@media (max-width: 640px) {
  .fresh-slider .slick-prev,
  .fresh-slider .slick-next {
    left: 10px;
  }
}
.fresh-slider .slick-next {
  left: auto;
  right: -15px;
}
@media (max-width: 640px) {
  .fresh-slider .slick-next {
    right: 10px;
  }
}

.products-slider {
  position: relative;
}
.products-slider .slick-slide {
  padding: 0 10px;
}
.products-slider .slick-prev,
.products-slider .slick-next {
  position: absolute;
  top: 50%;
  left: -15px;
  font-size: 30px;
  color: var(--foliage);
  transform: translate(0, -50%);
  z-index: 9;
}
@media (max-width: 640px) {
  .products-slider .slick-prev,
  .products-slider .slick-next {
    left: 10px;
  }
}
.products-slider .slick-next {
  left: auto;
  right: -15px;
}
@media (max-width: 640px) {
  .products-slider .slick-next {
    right: 10px;
  }
}

.slider-nav .slider-box {
  border: 1px solid transparent;
}
.slider-nav .slick-current .slider-box {
  border-color: var(--foliage);
}

/* **** End Slider Arrow **** */
.select-step label {
  border: 1px solid transparent;
  display: block;
}
.select-step input:checked + label {
  border-color: var(--foliage);
  color: var(--darker-foliage);
}

.select-size label {
  border: 1px solid transparent;
  display: block;
}
.select-size input:checked + label {
  color: var(--darker-foliage);
  border-color: var(--foliage);
}

#tab-contents input:checked + label {
  color: var(--darker-foliage);
  border-color: var(--darker-foliage);
}

@media (min-width: 1280px) and (max-width: 1399.98px) {
  .points-box {
    padding: 60px 40px !important;
  }
}
@media (min-width: 1280px) and (max-width: 1399.98px) {
  .points-box .box-body {
    padding: 24px !important;
    min-height: 200px !important;
  }
}
@media (min-width: 641px) and (max-width: 767.98px) {
  .points-box .box-body {
    padding: 20px !important;
  }
}
@media (min-width: 1280px) and (max-width: 1399.98px) {
  .points-box .box-body p {
    font-size: 16px;
    line-height: 24px;
  }
}
@media (min-width: 1280px) and (max-width: 1399.98px) {
  .points-box .box-body h2 {
    font-size: 20px;
    line-height: 26px;
  }
}
@media (min-width: 641px) and (max-width: 767.98px) {
  .points-box .box-body h2 {
    font-size: 24px;
    line-height: 30px;
  }
}
.points-box .box-body .perks-circle-logo {
  max-width: 110px;
}

/* **** Product box **** */
@media (min-width: 1024px) and (max-width: 1279.98px) {
  .product-list .product-box .box-img {
    height: 210px;
    margin: 0 auto 16px;
  }
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .product-list .product-box .box-img {
    height: 250px;
    margin: 0 auto 16px;
  }
}
@media (min-width: 641px) and (max-width: 767.98px) {
  .product-list .product-box .box-img {
    height: 165px;
    margin: 0 auto 16px;
  }
}
@media (max-width: 640px) {
  .product-list .product-box .box-img {
    height: 165px;
    margin: 0 auto 16px;
  }
}

.product-box {
  position: relative;
  display: table;
  margin: 0 auto;
  text-align: center;
}
.product-box .box-img {
  height: 300px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin: 0 auto 28px;
}
@media (min-width: 1024px) and (max-width: 1279.98px) {
  .product-box .box-img {
    height: 210px;
    margin: 0 auto 16px;
  }
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .product-box .box-img {
    height: 210px;
    margin: 0 auto 16px;
  }
}
@media (min-width: 641px) and (max-width: 767.98px) {
  .product-box .box-img {
    height: 195px;
    margin: 0 auto 16px;
  }
}
@media (max-width: 640px) {
  .product-box .box-img {
    height: 195px;
    margin: 0 auto 16px;
  }
}
.product-box .box-img img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
.product-box h4 {
  color: var(--stone);
  font-size: 20px;
  font-weight: 600;
  margin: 0 0 8px;
}
@media (min-width: 1280px) and (max-width: 1399.98px) {
  .product-box h4 {
    font-size: 18px;
  }
}
@media (min-width: 1024px) and (max-width: 1279.98px) {
  .product-box h4 {
    font-size: 16px;
  }
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .product-box h4 {
    font-size: 16px;
  }
}
@media (min-width: 641px) and (max-width: 767.98px) {
  .product-box h4 {
    font-size: 16px;
  }
}
@media (max-width: 640px) {
  .product-box h4 {
    font-size: 16px;
  }
}
.product-box h6 {
  color: var(--vine-lighter);
  font-size: 16px;
  font-weight: 700;
  margin: 0;
}
@media (min-width: 1024px) and (max-width: 1279.98px) {
  .product-box h6 {
    font-size: 14px;
  }
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .product-box h6 {
    font-size: 14px;
  }
}
@media (min-width: 641px) and (max-width: 767.98px) {
  .product-box h6 {
    font-size: 14px;
  }
}
@media (max-width: 640px) {
  .product-box h6 {
    font-size: 12px;
  }
}
.product-box:hover h4 {
  text-decoration: underline;
  color: var(--foliage);
}

/* **** End Product box **** */
/* **** Buttons **** */
.btn-primary {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 12px 16px;
  background: var(--foliage);
  width: -moz-fit-content;
  width: fit-content;
  color: white;
  font-size: 16px;
  transition: all 0.3s linear;
}
@media (min-width: 1280px) and (max-width: 1399.98px) {
  .btn-primary {
    font-size: 15px;
    padding: 10px 12px;
  }
}
@media (min-width: 1024px) and (max-width: 1279.98px) {
  .btn-primary {
    font-size: 14px;
  }
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .btn-primary {
    font-size: 14px;
  }
}
@media (min-width: 641px) and (max-width: 767.98px) {
  .btn-primary {
    font-size: 14px;
    padding: 8px 10px;
  }
}
@media (max-width: 640px) {
  .btn-primary {
    font-size: 14px;
    padding: 10px;
  }
}
.btn-primary img {
  max-width: 100%;
}
.btn-primary:hover {
  background: var(--vine-lighter);
}

/* **** End Buttons **** */
/* **** Customer Review **** */
.customer-review {
  background: white;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  padding: 30px;
}
@media (min-width: 1024px) and (max-width: 1279.98px) {
  .customer-review {
    padding: 20px;
  }
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .customer-review {
    padding: 20px;
  }
}
@media (min-width: 641px) and (max-width: 767.98px) {
  .customer-review {
    padding: 20px;
  }
}
@media (max-width: 640px) {
  .customer-review {
    padding: 20px;
  }
}
.customer-review p {
  color: var(--body-text);
  font-size: 16px;
  margin: 0 0 24px;
}
@media (min-width: 1024px) and (max-width: 1279.98px) {
  .customer-review p {
    font-size: 15px;
    margin: 0 0 15px;
  }
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .customer-review p {
    font-size: 14px;
    margin: 0 0 15px;
  }
}
@media (min-width: 641px) and (max-width: 767.98px) {
  .customer-review p {
    font-size: 14px;
    margin: 0 0 15px;
  }
}
@media (max-width: 640px) {
  .customer-review p {
    font-size: 14px;
    margin: 0 0 15px;
  }
}
.customer-review p a {
  font-weight: bold;
  color: var(--vine-lighter);
  text-decoration: underline;
}
.customer-review p a:hover {
  text-decoration: unset;
}
.customer-review .user-info {
  display: flex;
  align-items: center;
  gap: 17px;
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .customer-review .user-info {
    gap: 10px;
  }
}
.customer-review .user-info img {
  width: 46px;
  height: 46px;
  border-radius: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media (min-width: 1024px) and (max-width: 1279.98px) {
  .customer-review .user-info img {
    height: 35px;
    width: 35px;
  }
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .customer-review .user-info img {
    height: 35px;
    width: 35px;
  }
}
@media (min-width: 641px) and (max-width: 767.98px) {
  .customer-review .user-info img {
    height: 35px;
    width: 35px;
  }
}
@media (max-width: 640px) {
  .customer-review .user-info img {
    height: 35px;
    width: 35px;
  }
}
.customer-review .user-info h4 {
  color: var(--body-text);
  font-size: 16px;
  font-weight: 700;
}
@media (min-width: 1024px) and (max-width: 1279.98px) {
  .customer-review .user-info h4 {
    font-size: 15px;
  }
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .customer-review .user-info h4 {
    font-size: 15px;
  }
}
@media (min-width: 641px) and (max-width: 767.98px) {
  .customer-review .user-info h4 {
    font-size: 15px;
  }
}
@media (max-width: 640px) {
  .customer-review .user-info h4 {
    font-size: 15px;
  }
}

/* **** End Customer Review **** *//*# sourceMappingURL=index.css.map */