@tailwind base;
@tailwind components;
@tailwind utilities;


/* **** Fonts **** */
@font-face {
    font-family: "Libre Franklin";
    src: url("/fonts/LibreFranklin-Bold.woff2") format("woff2"), url("/fonts/LibreFranklin-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Libre Franklin";
    src: url("/fonts/LibreFranklin-SemiBold.woff2") format("woff2"), url("/fonts/LibreFranklin-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Libre Franklin";
    src: url("/fonts/LibreFranklin-Medium.woff2") format("woff2"), url("/fonts/LibreFranklin-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Libre Franklin";
    src: url("/fonts/LibreFranklin-Regular.woff2") format("woff2"), url("/fonts/LibreFranklin-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/* **** End Fonts **** */

/* **** Variables **** */
:root {
    --vine-lighter: #0e6338;
    --foliage: #609c42;
    --petal: #ee343f;
    --sage: #d4e9c9;
    --stone: #58585a;
    --darker-foliage: #548c28;
    --light-foliage: #eafce1;
    --body-text: #343434;
    --light-body-text: #616161;
    --divider-outline: #cdcdcd;

    // font family
    --font-libre: "Libre Franklin";
}
/* **** End Variables **** */

body {
    font-family: "Libre Franklin", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.add-fix {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}
.container-custom {
    max-width: 1375px;
    width: 1375px;
    margin: 0 auto;
    @media (min-width: 1280px) and (max-width: 1399.98px) {
        width: 1170px;
        max-width: 1170px;
    }
    @media (min-width: 1024px) and (max-width: 1279.98px) {
        width: 960px;
        max-width: 960px;
    }
    @media (min-width: 768px) and (max-width: 1023.98px) {
        width: 740px;
        max-width: 740px;
    }
    @media (min-width: 641px) and (max-width: 767.98px) {
        width: 540px;
        max-width: 540px;
    }
    @media (max-width: 640px) {
        width: 100%;
        max-width: 540px;
        padding: 0 15px;
    }
}

.small-container-custom {
    max-width: 1223px;
    margin: 0 auto;
    @media (min-width: 1280px) and (max-width: 1399.98px) {
        width: 1170px;
        max-width: 1170px;
    }
    @media (min-width: 1024px) and (max-width: 1279.98px) {
        width: 960px;
        max-width: 960px;
    }
    @media (min-width: 768px) and (max-width: 1023.98px) {
        width: 740px;
        max-width: 740px;
    }
    @media (min-width: 641px) and (max-width: 767.98px) {
        width: 540px;
        max-width: 540px;
    }
    @media (max-width: 640px) {
        width: 100%;
        max-width: 540px;
        padding: 0 15px;
    }
}

.hero-slider {
    .container-custom {
        max-width: 1312px;
        width: 1312px;
        margin: 0 auto;
        @media (min-width: 1280px) and (max-width: 1399.98px) {
            width: 1170px;
            max-width: 1170px;
        }
        @media (min-width: 1024px) and (max-width: 1279.98px) {
            width: 960px;
            max-width: 960px;
        }
        @media (min-width: 768px) and (max-width: 1023.98px) {
            width: 740px;
            max-width: 740px;
        }
        @media (min-width: 641px) and (max-width: 767.98px) {
            width: 540px;
            max-width: 540px;
        }
        @media (max-width: 640px) {
            width: 100%;
            max-width: 540px;
            padding: 0 15px;
        }
    }
}

.flowers-sec {
    .container-custom {
        max-width: 1262px;
        @media (min-width: 1280px) and (max-width: 1399.98px) {
            width: 1170px;
            max-width: 1170px;
        }
        @media (min-width: 1024px) and (max-width: 1279.98px) {
            width: 960px;
            max-width: 960px;
        }
        @media (min-width: 768px) and (max-width: 1023.98px) {
            width: 740px;
            max-width: 740px;
        }
        @media (min-width: 641px) and (max-width: 767.98px) {
            width: 540px;
            max-width: 540px;
        }
        @media (max-width: 640px) {
            width: 100%;
            max-width: 540px;
            padding: 0 15px;
        }
    }
}


/* **** toggler **** */
header {
    min-height: 278px;
    @media (min-width: 1024px) and (max-width: 1279.98px) {
        min-height: unset;
    }
    @media (min-width: 768px) and (max-width: 1023.98px) {
        min-height: unset;
    }
    @media (min-width: 641px) and (max-width: 767.98px) {
        min-height: unset;
    }
    @media (max-width: 640px) {
        min-height: unset;
        padding: 0;
    }
}

header.sticky {
    .navbar-nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: auto;
        border-bottom: 2px solid var(--divider-outline);
    }
}
.navbar-toggler {
    background-color: transparent;
    border-radius: 0;
    outline: none;
    box-shadow: none;
    border: none;
    padding: 0;
    height: auto;
    width: auto;
    box-shadow: none;
    outline: none;
    .navbar-toggler-icon {
        background-image: unset;
        width: 32px;
        height: 19px;
        display: block;
        background-image: none;
        position: relative;
        border-bottom: 3px solid #bebebe;
        transition: all 300ms linear;
        &:after,
        &:before {
            width: 32px;
            position: absolute;
            height: 3px;
            background-color: #bebebe;
            top: 0;
            left: 0;
            content: "";
            z-index: 2;
            transition: all 300ms linear;
        }
        &:after {
            top: 8px;
        }
    }
}
.navbar-toggler.show {
    .navbar-toggler-icon {
        border-color: transparent;
        &:after {
            transform: rotate(45deg);
        }
        &:before {
            transform: translateY(8px) rotate(-45deg);
        }
    }
}
.navbar-nav {
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.navbar-nav.show {
    display: block !important;
}

/* **** toggler **** */

/* **** Slider Arrow **** */
.hero-slider {
    position: relative;
    .slick-prev,
    .slick-next {
        position: absolute;
        top: 50%;
        left: 20px;
        font-size: 35px;
        color: #fff;
        transform: translate(0, -50%);
        z-index: 9;
    }
    .slick-next {
        left: auto;
        right: 20px;
    }
}

.fresh-slider {
    position: relative;
    .slick-slide {
        padding: 0 10px;
    }
    .slick-prev,
    .slick-next {
        position: absolute;
        top: 50%;
        left: -15px;
        font-size: 30px;
        color: var(--foliage);
        transform: translate(0, -50%);
        z-index: 9;
        @media (max-width: 640px) {
            left: 10px;
        }
    }
    .slick-next {
        left: auto;
        right: -15px;
        @media (max-width: 640px) {
            right: 10px;
        }
    }
}

.products-slider {
    position: relative;
    .slick-slide {
        padding: 0 10px;
    }
    .slick-prev,
    .slick-next {
        position: absolute;
        top: 50%;
        left: -15px;
        font-size: 30px;
        color: var(--foliage);
        transform: translate(0, -50%);
        z-index: 9;
        @media (max-width: 640px) {
            left: 10px;
        }
    }
    .slick-next {
        left: auto;
        right: -15px;
        @media (max-width: 640px) {
            right: 10px;
        }
    }
}

.slider-nav {
    .slider-box {
        border: 1px solid transparent;
    }
    .slick-current {
        .slider-box {
            border-color: var(--foliage);
        }
    }
}
/* **** End Slider Arrow **** */

.select-step {
    label {
        border: 1px solid transparent;
        display: block;
    }
    input:checked + label {
        border-color: var(--foliage);
        // font-weight: bold;
        color: var(--darker-foliage);
    }
}
.select-size {
    label {
        border: 1px solid transparent;
        display: block;
    }
    input:checked + label {
        color: var(--darker-foliage);
        border-color: var(--foliage);
    }
}

#tab-contents {
    input:checked + label {
        color: var(--darker-foliage);
        border-color: var(--darker-foliage);
    }
}

.points-box {
    @media (min-width: 1280px) and (max-width: 1399.98px) {
        padding: 60px 40px !important;
    }
    .box-body {
        @media (min-width: 1280px) and (max-width: 1399.98px) {
            padding: 24px !important;
            min-height: 200px !important;
        }
        @media (min-width: 641px) and (max-width: 767.98px) {
            padding: 20px !important;
        }
        p {
            @media (min-width: 1280px) and (max-width: 1399.98px) {
                font-size: 16px;
                line-height: 24px;
            }
        }
        h2 {
            @media (min-width: 1280px) and (max-width: 1399.98px) {
                font-size: 20px;
                line-height: 26px;
            }
            @media (min-width: 641px) and (max-width: 767.98px) {
                font-size: 24px;
                line-height: 30px;
            }
        }
        .perks-circle-logo {
            max-width: 110px;
        }
    }
}

/* **** Product box **** */
.product-list {
    .product-box {
        .box-img {
            @media (min-width: 1024px) and (max-width: 1279.98px) {
                height: 210px;
                margin: 0 auto 16px;
            }
            @media (min-width: 768px) and (max-width: 1023.98px) {
                height: 250px;
                margin: 0 auto 16px;
            }
            @media (min-width: 641px) and (max-width: 767.98px) {
                height: 165px;
                margin: 0 auto 16px;
            }
            @media (max-width: 640px) {
                height: 165px;
                margin: 0 auto 16px;
            }
        }
    }
}

.product-box {
    // @apply relative table mx-auto text-center;
    position: relative;
    display: table;
    margin: 0 auto;
    text-align: center;
    .box-img {
        // @apply h-[300px] flex items-end justify-center mx-auto mb-7;
        height: 300px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        margin: 0 auto 28px;

        @media (min-width: 1024px) and (max-width: 1279.98px) {
            height: 210px;
            margin: 0 auto 16px;
        }
        @media (min-width: 768px) and (max-width: 1023.98px) {
            height: 210px;
            margin: 0 auto 16px;
        }
        @media (min-width: 641px) and (max-width: 767.98px) {
            height: 195px;
            margin: 0 auto 16px;
        }
        @media (max-width: 640px) {
            height: 195px;
            margin: 0 auto 16px;
        }
        img {
            // @apply max-w-full max-h-full object-contain object-bottom;
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
            object-position: center;
        }
    }
    h4 {
        // @apply text-stone text-xl font-semibold mb-2
        color: var(--stone);
        font-size: 20px;
        font-weight: 600;
        margin: 0 0 8px;
        @media (min-width: 1280px) and (max-width: 1399.98px) {
            font-size: 18px;
        }
        @media (min-width: 1024px) and (max-width: 1279.98px) {
            font-size: 16px;
        }
        @media (min-width: 768px) and (max-width: 1023.98px) {
            font-size: 16px;
        }
        @media (min-width: 641px) and (max-width: 767.98px) {
            font-size: 16px;
        }
        @media (max-width: 640px) {
            font-size: 16px;
        }
    }
    h6 {
        // @apply text-vine-lighter text-base font-bold
        color: var(--vine-lighter);
        font-size: 16px;
        font-weight: 700;
        margin: 0;
        @media (min-width: 1024px) and (max-width: 1279.98px) {
            font-size: 14px;
        }
        @media (min-width: 768px) and (max-width: 1023.98px) {
            font-size: 14px;
        }
        @media (min-width: 641px) and (max-width: 767.98px) {
            font-size: 14px;
        }
        @media (max-width: 640px) {
            font-size: 12px;
        }
    }
    &:hover {
        h4 {
            text-decoration: underline;
            color: var(--foliage);
        }
    }
}
/* **** End Product box **** */

/* **** Buttons **** */
.btn-primary {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 12px 16px;
    background: var(--foliage);
    width: fit-content;
    color: white;
    font-size: 16px;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    @media (min-width: 1280px) and (max-width: 1399.98px) {
        font-size: 15px;
        padding: 10px 12px;
    }
    @media (min-width: 1024px) and (max-width: 1279.98px) {
        font-size: 14px;
    }
    @media (min-width: 768px) and (max-width: 1023.98px) {
        font-size: 14px;
    }
    @media (min-width: 641px) and (max-width: 767.98px) {
        font-size: 14px;
        padding: 8px 10px;
    }
    @media (max-width: 640px) {
        font-size: 14px;
        padding: 10px;
    }
    img {
        max-width: 100%;
    }
    &:hover {
        background: var(--vine-lighter);
    }
}
/* **** End Buttons **** */

/* **** Customer Review **** */
.customer-review {
    background: white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    padding: 30px;
    @media (min-width: 1024px) and (max-width: 1279.98px) {
        padding: 20px;
    }
    @media (min-width: 768px) and (max-width: 1023.98px) {
        padding: 20px;
    }
    @media (min-width: 641px) and (max-width: 767.98px) {
        padding: 20px;
    }
    @media (max-width: 640px) {
        padding: 20px;
    }
    p {
        color: var(--body-text);
        font-size: 16px;
        margin: 0 0 24px;
        @media (min-width: 1024px) and (max-width: 1279.98px) {
            font-size: 15px;
            margin: 0 0 15px;
        }
        @media (min-width: 768px) and (max-width: 1023.98px) {
            font-size: 14px;
            margin: 0 0 15px;
        }
        @media (min-width: 641px) and (max-width: 767.98px) {
            font-size: 14px;
            margin: 0 0 15px;
        }
        @media (max-width: 640px) {
            font-size: 14px;
            margin: 0 0 15px;
        }
        a {
            font-weight: bold;
            color: var(--vine-lighter);
            text-decoration: underline;
            &:hover {
                text-decoration: unset;
            }
        }
    }
    .user-info {
        display: flex;
        align-items: center;
        gap: 17px;
        @media (min-width: 768px) and (max-width: 1023.98px) {
            gap: 10px;
        }
        img {
            width: 46px;
            height: 46px;
            border-radius: 100%;
            object-fit: cover;
            object-position: center;
            @media (min-width: 1024px) and (max-width: 1279.98px) {
                height: 35px;
                width: 35px;
            }
            @media (min-width: 768px) and (max-width: 1023.98px) {
                height: 35px;
                width: 35px;
            }
            @media (min-width: 641px) and (max-width: 767.98px) {
                height: 35px;
                width: 35px;
            }
            @media (max-width: 640px) {
                height: 35px;
                width: 35px;
            }
        }
        h4 {
            color: var(--body-text);
            font-size: 16px;
            font-weight: 700;
            @media (min-width: 1024px) and (max-width: 1279.98px) {
                font-size: 15px;
            }
            @media (min-width: 768px) and (max-width: 1023.98px) {
                font-size: 15px;
            }
            @media (min-width: 641px) and (max-width: 767.98px) {
                font-size: 15px;
            }
            @media (max-width: 640px) {
                font-size: 15px;
            }
        }
    }
}
/* **** End Customer Review **** */

.steps {
    li {
        position: relative;
        &:before {
            position: absolute;
            content: "\f054";
            font-family: "Font Awesome 5 Pro";
            font-weight: 900;
            top: 50%;
            -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
            font-size: 14px;
            color: var(--light-body-text);
            right: -40px;
            @media (min-width: 768px) and (max-width: 1023.98px) {
                font-size: 14px;
                right: -20px;
            }
            @media (min-width: 641px) and (max-width: 767.98px) {
                font-size: 12px;
                right: -20px;
            }
            @media (max-width: 640px) {
                font-size: 10px;
                right: -16px;
            }
        }
        &:last-child {
            &::before {
                display: none;
            }
        }
        a {
            font-size: 16px;
            color: var(--light-body-text);
            @media (min-width: 1024px) and (max-width: 1279.98px) {
                font-size: 15px;
            }
            @media (min-width: 768px) and (max-width: 1023.98px) {
                font-size: 15px;
            }
            @media (min-width: 641px) and (max-width: 767.98px) {
                font-size: 14px;
            }
            @media (max-width: 640px) {
                font-size: 14px;
            }
            &:hover {
                color: var(--foliage);
            }
        }
        .current {
            color: var(--foliage);
            font-weight: 600;
        }
    }
}
#jquery-steps {
    .form-group {
        margin: 0 0 29px;
        position: relative;

        label {
            font-size: 14px;
            color: var(--body-text);
            margin: 0 0 5px;
            display: flex;
            gap: 5px;
            span {
                color: var(--petal);
            }
        }
        .form-control {
            font-size: 14px;
            font-weight: 400;
            color: var(--body-text);
            padding: 10px 12px;
            border: 1px solid var(--divider-outline);
            outline: none;
            box-shadow: none;
            border-radius: 0;
            display: block;
            width: 100%;
            resize: none;
            &:placeholder {
                color: var(--body-text);
            }
        }
        small {
            font-size: 12px;
            color: var(--body-text);
            display: block;
            margin: 10px 0 0;
        }
    }
}

/* **** gift-box **** */
.gift-box {
    text-align: center;
    position: relative;
    margin: 0 0 30px;
    border: 1px solid transparent;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    .box-img {
        height: 230px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
            object-position: center;
        }
    }
    .detail {
        h3 {
            color: var(--body-text);
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
        }
        h4 {
            color: var(--body-text);
            font-size: 16px;
            font-weight: 700;
            line-height: 22px;
        }
    }
    .hover-box {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        border: 1px solid var(--foliage);
        background: rgba(255, 255, 255, 0.85);
        padding: 23px 16px;
        -webkit-transition: all 0.3s linear;
        transition: all 0.3s linear;
        opacity: 0;
        visibility: hidden;
        p {
            color: var(--body-text);
            font-size: 12px;
            font-weight: 400;
            line-height: 16px;
            margin: 0 0 12px;
            text-align: left;
        }
        a {
            color: var(--foliage);
            font-size: 16px;
            font-weight: 700;
            line-height: 22px;
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }
    &:hover {
        .hover-box {
            opacity: 1;
            visibility: visible;
        }
    }
}
/* **** End gift-box **** */

.accordion-content {
    display: none;
}
.accordion-content.show {
    display: block;
}
.accordion-header.show {
    .fa-chevron-down {
        &:before {
            content: "\f077";
        }
    }
}

.top-head.top {
    @media (max-width: 767px) {
        position: fixed;
        .logo-img {
            display: none;
        }
    }
}

.form-checkbox {
    label {
        &::before {
            content: "";
            -webkit-appearance: none;
            background-color: transparent;
            border: 1px solid var(--foliage);
            position: absolute;
            vertical-align: middle;
            cursor: pointer;
            height: 16px;
            width: 16px;
            left: 0;
        }
    }
    input:checked + label:before {
        background: var(--foliage);
    }
    input:checked + label:after {
        content: "";
        display: block;
        position: absolute;
        top: 1px;
        left: 5px;
        width: 6px;
        height: 11px;
        border: solid #fff;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
    }
}